*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1e1e1e;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-start: 12rem;
}

.app-container {
  width: 85rem;
  height: 52.5rem;
  background-color: #222831;
}

.display-box {
  max-width: 35rem;
  height: 100%;
  padding: 2.4rem;
  border-radius: 8px;
  background: linear-gradient(
      120deg,
      rgba(136, 236, 239, 0.4),
      rgba(83, 90, 230, 0.4)
    ),
    url("image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

/* Forecast style */

.forecast-box {
}
