*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  font-size: 10px;
  line-height: 1;
}

body {
  position: relative;
  background-color: #1e1e1e;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.w-100 {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-start: 15rem;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85rem;
  height: 52.5rem;
  background-color: #222831;
}
/* Display style */
.display-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 35rem;
  height: 100%;
  padding: 2.4rem 2.4rem 4.8rem 2.4rem;
  border-radius: 20px;
  background: linear-gradient(
      120deg,
      rgba(136, 236, 239, 0.4),
      rgba(83, 90, 230, 0.4)
    ),
    url("image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.day-text {
  font-size: 3.7rem;
  font-weight: bold;
  margin-block-end: 1rem;
}

.date-time {
  font-size: 2.2rem;
  font-weight: 400;
  margin-block-end: 1rem;
}

.location-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
}

.display-footer {
  max-width: max-content;
}

.icon {
  width: 8rem;
  height: 8rem;
  margin-block-end: 0.8rem;
}

.temperature {
  font-size: 3.7rem;
  font-weight: bold;
  margin-block-end: 0.8rem;
}

.time {
  font-size: 2rem;
  font-weight: 500;
}

/* Forecast style */

.forecast-box {
  padding-block: 2.2rem;
  padding-inline-end: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.ul-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.ul-list.active {
  display: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  font-size: 2.8rem;
  font-weight: 600;
}

.day-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #272e37;
}

.day-list.active {
  display: none;
}

.day-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.7rem;
  border-radius: 10px;
  gap: 2.2rem;
}

.day-list-item.active {
  background-color: #fff;
  color: #000;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.27);
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.search-input {
  display: block;
  width: 100%;
  font-family: inherit;
  padding: 1.2rem;
  background-color: #ddd;
  border: none;
  border-radius: 7px;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(187, 187, 187, 0.802);
}

.btn {
  padding: 1.5rem 2.6rem;
  color: #fff;
  background: linear-gradient(
    25deg,
    rgba(144, 217, 224, 0.6),
    rgba(84, 96, 230, 0.6)
  );
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover {
  background-color: rgba(144, 217, 224, 0.6);
  box-shadow: 0 0 10px 2px rgba(144, 217, 224, 0.6);
}

.notification-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: max-content;
  background-color: #fff;
  border-radius: 7px;
  padding: 1.6rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform 0.7s ease-out;
}

.notification-box.active {
  transform: translate(-50%, 5%);
}

.notification-box ion-icon {
  font-size: 2.4rem;
  color: red;
}

.notification-text {
  color: #000;
  font-size: 2.4rem;
  font-weight: 500;
}
